<h1>Shipping</h1>
<div class='row'>
    <div class='col-6'>
        <form name='form' #form='ngForm' (ngSubmit)='placeOrder(form.value)'>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"  name='name' #name='ngModel' ngModel
                    aria-describedby="name" required placeholder="Enter Name">
                <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                    Name is required.
                </div>
            </div>
        
            <div class="form-group">
                <label for="address1">Address</label>
                <input type="text" class="form-control" name='address1' #address1='ngModel' ngModel
                    id="address1" aria-describedby="firstaddress" required
                    placeholder="Enter Your Address Line1"> 
                <div *ngIf="address1.touched && address1.invalid" class="alert alert-danger"> 
                    Address Line1 is required.
                </div>
                <br>       
                <input type="text" class="form-control" name='address2' #address2='ngModel' ngModel
                    id="address2" aria-describedby="secondaddress" required
                    placeholder="Enter Your Address Line2">
                <div *ngIf="address2.touched && address2.invalid" class="alert alert-danger"> 
                    Address Line2 is required.
                </div>
            </div>
        
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name='city' #city='ngModel' ngModel
                    aria-describedby="name" placeholder="Enter Your City" required>
                <div *ngIf="city.touched && city.invalid" class="alert alert-danger"> 
                    City is required.
                </div>
            </div>
        
            <button class="btn btn-primary" [disabled]='!form.valid'>Place Order</button>
        </form>
    </div>
    <div class='col-6'>
        <div *ngIf='cart$ | async as cart'>
            <div class="card">
                <h3 class='text-center alert alert-primary'>Order Summary </h3>
                <div class="card-header">
                    You have <strong>{{ totoalQuantityForAllProduct }}</strong> Items In your Cart .
                </div>
                <ul class="list-group list-group-flush">
                    <ul class="list-group" *ngFor='let prodId of productIds'>
                        <li class="list-group-item" *ngIf="cart.items[prodId] && cart.items[prodId].quantity > 0">
                            {{ cart.items[prodId].quantity }} x  {{ cart.items[prodId].product.title }}
                            <div class='float-right'>
                                    {{ ((cart.items[prodId].product.price) * (cart.items[prodId].quantity)) | currency:'USD' }}
                            </div>
                        </li>
                    </ul>
                    <li class="list-group-item float-right"> 
                        <strong>Total Price</strong>
                        <div class="float-right">
                           <strong> {{ totoalPriceForAllProduct | currency:'USD' }}</strong>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
